/* 
    Document   : style.css
    Created on : Jan 23, 2015, 1:11:32 AM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
  /*background-color: darkcyan;*/  /* fixes page edge */

}

root { 
  display: block;

}

#world {
  /*background-color: red; */
  background: url('/images/backgrounds/genesis.jpg');
  background-position: 0; /* @TODO: Assumes user's compass starts at 0 degrees, which may not be correct on initialization */
  background-repeat: repeat-x;
  height: 99%;
  width: 99%;
  border: none;
  opacity: 0.5; /* @TODO: arbitrary number for now */
  position: absolute;
  z-index: 0;
}

#playfield textarea#menu {
  /*background-color: darkcyan;*/
  background-color: transparent; /* important so the background world picture appears */
  border: none;
  height: 99%;
  width: 99%;
  padding: 4px;
  position: absolute;
  z-index: 1;
}



#avatar {
  background: url('/images/avatar1.png');
  margin: 150 0 0 0;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
  
  /* -webkit-transition: 3s ease-in-out;
  -moz-transition: 3s ease-in-out;
  -o-transition: 3s ease-in-out; */
  transition: 1s ease-in-out;
  /*transform: rotate(30deg); */

}
#avatar:hover {
  /*transform: translate(3em,0);*/
  transform: translate(3em,6em);
}

#bank {
  background-color: red;
  margin: 50 0 0 0;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
}

.characterSelectItem {
  background-color: yellowgreen;
  float: left;
  margin: 2px;
  position: relative;
  height: 128px;
  width: 128px;
  z-index: 20;
}

#characterSelect {
  background-color: green;
  margin: 100 0 0 300;
  position: absolute;
  height: 400;  
  width: 400;
  z-index: 10;
}

#chat {
  background-color: orangered;
  margin: 100 0 0 200;
  position: absolute;
  height: 200;  
  width: 400;
  z-index: 10;
}

#debug {
  background-color: orange;
  margin: 50 0 0 400;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
}

#email {
  background-color: green;
  margin: 50 0 0 600;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
}

#inventory {
  background-color: brown;
  margin: 500 0 0 300;
  position: absolute;
  height: 200;
  width: 200;
  z-index: 10;
}

.each_inventory {
  background-color: yellowgreen;
  margin: 2px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 20;
}

#login {
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.1)), url('/images/backgrounds/parchment.jpg');
  background-color: blue;
  border-radius: 10px;
  font-family: 'IM Fell English SC', serif;
  position: absolute;
  
  /* margin: 300 0 0 100; */
  /* to center on the page */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
  height: 250px;
  width: 200px;  
  z-index: 10;
}

#map {
  background-color: red;
  
  background: url(../images/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  
  margin: 10 0 0 700;
  position: absolute;
  height: 300;  
  width: 300;
  z-index: 10;
}

#paperdoll {
  background-color: purple;
  margin: 300 0 0 300;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
}

#trade {
  background-color: lightskyblue;
  margin: 300 0 0 600;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 10;
}

#compass {
  background-color: lightgreen;
  margin: 0 0 0 300;
  position: absolute;
  height: 50;  
  width: 400;
  z-index: 10;
}
