/* 
    Document   : style.css
    Created on : Jan 23, 2015, 1:11:32 AM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
  background-color: darkcyan;  /* fixes page edge */
}

root { 
  display: block;
}

#playfield textarea#menu {
  background-color: darkcyan;
  border: none;
  height: 99%;
  width: 99%;
  padding: 4px;
  position: absolute;
  z-index: 0;
}

#bank {
  background-color: red;
  margin: 50 0 0 0;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#chat {
  background-color: orangered;
  margin: 50 0 0 200;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#debug {
  background-color: orange;
  margin: 50 0 0 400;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#email {
  background-color: green;
  margin: 50 0 0 600;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#inventory {
  background-color: brown;
  margin: 500 0 0 300;
  position: absolute;
  height: 200;
  width: 200;
  z-index: 1;
}

.each_inventory {
  background-color: yellowgreen;
  margin: 2px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 2;
}

#login {
  background-image: url('/images/backgrounds/parchment.jpg');
  background-color: blue;
  border-radius: 10px;
  font-family: 'IM Fell English SC', serif;
  position: absolute;
  
  /* margin: 300 0 0 100; */
  /* to center on the page */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
  height: 250px;
  width: 200px;  
  z-index: 1;
}

#map {
  background-color: red;
  
  background: url(../images/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  
  margin: 10 0 0 700;
  position: absolute;
  height: 300;  
  width: 300;
  z-index: 1;
}

#paperdoll {
  background-color: purple;
  margin: 300 0 0 300;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#trade {
  background-color: lightskyblue;
  margin: 300 0 0 600;
  position: absolute;
  height: 200;  
  width: 200;
  z-index: 1;
}

#compass {
  background-color: lightgreen;
  margin: 0 0 0 300;
  position: absolute;
  height: 50;  
  width: 400;
  z-index: 1;
}
